<footer id="footer" class="overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="footer-top-area">
          <div class="row d-flex flex-wrap justify-content-between">

            <div *ngFor="let p of Footer | orderby:'menu'" [innerHTML]="p.attributes.contenido" class="col-lg-3 col-sm-6 pb-3" >
             
            </div>
            <div *ngIf="Menu.length>0" class="col-lg-2 col-sm-6 pb-3">
              <div class="footer-menu text-uppercase">
                <h5 class="widget-title pb-2">Accesos Rapidos</h5>
                <ul class="menu-list list-unstyled text-uppercase">
                  <li *ngFor="let l of Menu | orderby:'menu' | slice:0:4" class="menu-item pb-2">
                    <a href="{{l.attributes.url}}">{{l.attributes.titulo}}</a>
                  </li>
                </ul>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
   
    <hr>
    
  </footer>
 
 <!-- <div id="footer-bottom">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-md-4 col-sm-6">
          <div class="Shipping d-flex">
            <p>We ship with:</p>
            <div class="card-wrap ps-2">
              <img src="assets/images/dhl.png" alt="visa">
              <img src="assets/images/shippingcard.png" alt="mastercard">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="payment-method d-flex">
            <p>Payment options:</p>
            <div class="card-wrap ps-2">
              <img src="assets/images/visa.jpg" alt="visa">
              <img src="assets/images/mastercard.jpg" alt="mastercard">
              <img src="assets/images/paypal.jpg" alt="paypal">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="copyright">
            <p>© Free2023 MiniStore. Love by <a href="https://therichpost.com/">therichpost.com</a> Distribution by <a href="https://therichpost.com">Jassa</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>-->