<app-header></app-header>
<app-loader *ngIf="LoadingData"></app-loader>
<section style="background-color: #eee;">
  <div class="text-center container py-5">
    <br>
    @if (CurrentCategory.attributes) {
    <h4 class="mt-4 mb-5"><strong>{{CurrentCategory.attributes.nombre}}</strong></h4>
    <div class="row">
      <div *ngFor="let p of Products | orderby:'orden'" class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
            <img src="{{p.imagen.url}}" class="card-img-top" />
            <a href="#">
              <div class="mask">
                <div class="d-flex justify-content-start align-items-end h-100">
                  <h5>
                    <span class="badge bg-primary ms-2">New</span><span class="badge bg-success ms-2">Eco</span>
                    <span class="badge bg-danger ms-2">-10%</span>
                  </h5>
                </div>
              </div>

              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
            <div>
              <a href="tienda?p=" class="btn btn-medium btn-black">Añadir al carro</a>
            </div>

          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">{{p.attributes.titulo}}</h5>
            </a>
            <h6 class="mb-3">{{p.attributes.precio | currency}}
              <!--<s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>--></h6>
          </div>
        </div>
      </div>

    </div>

    }
  </div>
</section>

<section *ngFor="let c of getCategories() | orderby:'orden';let i = index" id="{{c.attributes.nombre}}"
  class="product-store position-relative padding-large">
  <div>
    <h4 *ngIf="i==0" class="mt-4 mb-5"><strong>Categorias</strong></h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="display-header d-flex justify-content-between pb-3">
        <h2 class="display-7 text-dark text-uppercase">{{c.attributes.nombre}}</h2>
        <div class="btn-right">
          <a href="tienda/categoria?c={{c.attributes.nombre}}&Id={{c.id}}"
            class="btn btn-medium btn-normal text-uppercase">Ver Categoria</a>
        </div>
      </div>
      <hr class="hr hr-blurry" />
    </div>
  </div>
  <div class="swiper-pagination position-absolute text-center"></div>
</section>
<app-footer></app-footer>