<app-header ></app-header>

<div *ngIf="!Loading" class="product-detail">
  <div class="product-image-gallery">
    <div class="main-image">
      
      <img *ngIf="CurrentImagen.url!=null"   
      src="{{Service.urlBase}}{{CurrentImagen.url}}" 
      alt="{{CurrentImagen.alternativeText || 'ok'}}">
    </div>
    <div class="thumbnail-images">
      <img *ngFor="let p of ProductDetail.imagen.data" 
       (click)="ShowDetail(p)"  
       src="{{Service.urlBase}}{{p.attributes.formats.thumbnail.url}}" 
       alt="{{p.attributes.alternativeText || 'ok'}}"
       [class.active]="p.attributes === CurrentImagen">

      
    </div>
  </div>
  
  <div class="product-info">
    <h1>{{ ProductDetail.titulo }}</h1>
    <p>{{ ProductDetail.descripcion1 }}</p>
    
    <div *ngIf="Colors.length>1" class="color-variation">
      <label>Color:</label>
      <div   class="btn-group btn-group-lg" role="group" aria-label="Large button group">
        <button *ngFor="let c of Colors" style="background-color:{{c.attributes.codigo}};" type="button" class="btn btn-outline-primary " 
        placement="auto" ngbTooltip="{{c.attributes.nombre}}" (click)="ShowProduct(c.id)"></button>
        
      </div>
    </div>
    
    <div *ngIf="ProductDetail.unidades>0" class="quantity">
      <label>Quantity:</label>
      <select class="form-select form-select-lg mb-3" aria-label="Large select example">
        <option  value="{{i+1}}"  *ngFor="let item of [].constructor(ProductDetail.unidades); let i = index">{{i+1}}</option>
      
      </select>
      <p>Disponibles:{{ProductDetail.unidades}}</p>
    </div>
    <div  *ngIf="ProductDetail.unidades>0" class="cart-concern">
    <button   class="btn btn-medium btn-black">Comprar</button>
  </div>
  </div>
</div>
<div *ngIf="ProductDetail.contenido!=null" [innerHTML]="ProductDetail.contenido"></div>

<app-footer *ngIf="!Loading" ></app-footer>

