<app-header></app-header>
<app-loader *ngIf="LoadingProducts"></app-loader>
<div style="margin-top: 74px;">
  <ngb-carousel [interval]="4000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus">
    <ng-template ngbSlide *ngFor="let p of Slider | orderby:'orden'">
      <a *ngIf="p.attributes.url!='' && p.attributes.url!=null" href="{{p.attributes.url}}">
        <div class="picsum-img-wrapper">
          <img [src]="p.imagen.url" alt="{{p.imagen.alternativeText}}" style="max-width: 100%;height: auto;">
        </div>
        <!-- <div class="carousel-caption">
          <h3 class="col-md-6 display-2 text-uppercase text-dark pb-5">{{p.attributes.titulo}}</h3>
          <a *ngIf="p.attributes.url!='' && p.attributes.url!=null" href="{{p.attributes.url}}"
            class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Ver producto</a>

        </div> -->
      </a>
    </ng-template>

    <!-- <ng-template ngbSlide *ngFor="let p of Slider | orderby:'orden'">
    <a *ngIf="p.attributes.url!='' && p.attributes.url!=null" href="{{p.attributes.url}}">
      <div class="bg-img-product-2" style="background-image:url({{p.imagen.url}});">
      </div>
    </a>
  </ng-template> -->
  </ngb-carousel>
</div>

<!--<section *ngIf="Slider.length>0" id="billboard" class="position-relative overflow-hidden bg-light-blue">
  <div class="swiper main-swiper">
    <div class="swiper-wrapper">
      <div *ngFor="let p of Slider | orderby:'orden'" class="swiper-slide">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-6">
              <div class="banner-content">
                <h1 class="display-2 text-uppercase text-dark pb-5">{{p.attributes.titulo}}</h1>
                <a *ngIf="p.attributes.url!='' && p.attributes.url!=null" href="{{p.attributes.url}}"
                  class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Comprar producto</a>
              </div>
            </div>
            <div class="col-md-5">
              <div class="image-holder">
                <img src="{{p.imagen.url}}" alt="{{p.imagen.alternativeText}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-icon swiper-arrow swiper-arrow-prev">
    <svg class="chevron-left">
      <use xlink:href="#chevron-left" />
    </svg>
  </div>
  <div class="swiper-icon swiper-arrow swiper-arrow-next">
    <svg class="chevron-right">
      <use xlink:href="#chevron-right" />
    </svg>
  </div>
</section>-->
<section *ngIf="Benefits.length>0" id="benefits" class="padding-large">
  <div class="container">
    <div class="row">
      <div *ngFor="let b of Benefits | orderby:'attributes.menu'" class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="{{getOtherAttributes('icon',b)}}">
              <use [attr.xlink:href]="'#'+getOtherAttributes('icon',b)" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">{{b.attributes.titulo}}</h3>
            <p>{{b.attributes.descripcion}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<p>loko</p>

<section id="{{c.attributes.descripcion1 || c.attributes.nombre}}"
  *ngFor="let c of Categories | orderby:'attributes.orden'"
  class="product-store position-relative padding-large no-padding-top">
  @if (c.products) {
  <div *ngIf="c.products.length>0" class="container">
    <div>
      <div class="pb-3">
        <h2 class="text-dark text-uppercase">{{c.attributes.nombre}}</h2>
        <a href="tienda/categoria?c={{c.attributes.nombre}}&Id={{c.id}}"
            class="text-uppercase">Ver Categoria</a>
      </div>
      <div class="swiper product-swiper">
        <div class="swiper-wrapper">


          <div class="product-carousel">

            <div *ngIf="LoadingProducts" class="lds-general">
              <div></div>
              <div></div>
            </div>

            <div class="carousel-container">
              <div class="carousel-track">

                <div *ngFor="let product of c.products | orderby:'attributes.orden'" class="product-card">
                  <div class="image-container">
                    <img [src]="product.imagen.url" [alt]="product.attributes.titulo">
                    <button class="magnify-btn" (click)="openLargeImage(product)">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                  <h3>{{ product.attributes.titulo }}</h3>
                  <p class="price">{{ product.attributes.precio | currency }}</p>
                  <button class="btn btn-medium btn-dark" (click)="goToDetails(product)">Ver detalles</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  }
</section>



<section *ngIf="Promotion.length>0" id="yearly-sale" class="bg-light-blue overflow-hidden mt-5 padding-xlarge"
  style="background-image: url('{{Promotion[0].imagen.url}}');background-position: right; background-repeat: no-repeat;">
  <div class="row d-flex flex-wrap align-items-center">
    <div class="col-md-6 col-sm-12">
      <div class="text-content offset-4 padding-medium">
        <h3>{{Promotion[0].attributes.titulo}}</h3>
        <h2 class="display-2 pb-5 text-uppercase text-dark" style="font-size: 2.5rem;">
          {{Promotion[0].attributes.descripcion}}</h2>
        <a *ngIf="Promotion[0].attributes.url!='' && Promotion[0].attributes.url!=null"
          href="{{Promotion[0].attributes.url}}" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Ir a
          la Tienda</a>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">

    </div>
  </div>
</section>
<section *ngIf="Blog.length>0" id="latest-blog" class="padding-large">
  <div class="container">
    <div class="row">
      <div class="display-header d-flex justify-content-between pb-3">
        <h2 class="display-7 text-dark text-uppercase">Ultimos Posts</h2>
        <div *ngIf="Blog[0].attributes.url!='' && Blog[0].attributes.url!=null" class="btn-right">
          <a href="{{Blog[0].attributes.url}}" class="btn btn-medium btn-normal text-uppercase">Leer Blog</a>
        </div>
      </div>
      <div class="post-grid d-flex flex-wrap justify-content-between">
        <div *ngFor="let b of Blog | orderby:'attributes.menu' | slice:0:3" class="col-lg-4 col-sm-12">
          <div class="card border-none me-3">
            <div class="card-image">
              <img src="{{b.imagen.url}}" alt="" class="img-fluid">
            </div>
          </div>
          <div class="card-body text-uppercase">
            <div class="card-meta text-muted">
              <span class="meta-date">{{b.attributes.createdAt | date:'dd/MM/yyyy - hh:mm:ss a'}}</span>
              <span class="meta-category">-{{b.attributes.titulo}}</span>
            </div>
            <h3 class="card-title">
              <a href="{{b.attributes.url}}">{{b.attributes.descripcion}}</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="Testimonials.length>0" id="testimonials" class="position-relative">
  <div class="container">
    <div class="row">
      <div class="review-content position-relative">
        <div *ngIf="Testimonials.length>1"
          class="swiper-icon swiper-arrow swiper-arrow-prev position-absolute d-flex align-items-center">
          <svg class="chevron-left">
            <use xlink:href="#chevron-left" />
          </svg>
        </div>
        <div class="swiper testimonial-swiper">
          <div class="quotation text-center">
            <svg class="quote">
              <use xlink:href="#quote" />
            </svg>
          </div>
          <div class="swiper-wrapper">
            <div *ngFor="let t of Testimonials | orderby:'attributes.menu'"
              class="swiper-slide text-center d-flex justify-content-center">
              <div class="review-item col-md-10">
                <i class="icon icon-review"></i>
                <blockquote>{{t.attributes.descripcion}}</blockquote>
                <div class="rating">
                  <svg *ngFor="let s of [].constructor(t.attributes.otros.starsok)" class="star star-fill">
                    <use xlink:href="#star-fill"></use>
                  </svg>
                  <svg *ngFor="let s of [].constructor(t.attributes.otros.starsempty)" class="star star-empty">
                    <use xlink:href="#star-empty"></use>
                  </svg>
                </div>
                <div class="author-detail">
                  <div class="name text-dark text-uppercase pt-2">{{t.attributes.titulo}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="Testimonials.length>1"
          class="swiper-icon swiper-arrow swiper-arrow-next position-absolute d-flex align-items-center">
          <svg class="chevron-right">
            <use xlink:href="#chevron-right" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</section>




<div class="comments-carousel">
  <button class="arrow left" (click)="scrollLeft()">&lt;</button>
  <div class="comments-container" #commentsContainer>
    <div *ngFor="let t of Testimonials | orderby:'attributes.menu'" class="comment">
      <p class="description">{{t.attributes.descripcion}}</p>
      <div class="rating">
        <svg *ngFor="let s of [].constructor(t.attributes.otros.starsok)" class="star star-fill">
          <use xlink:href="#star-fill"></use>
        </svg>
        <svg *ngFor="let s of [].constructor(t.attributes.otros.starsempty)" class="star star-empty">
          <use xlink:href="#star-empty"></use>
        </svg>
      </div>
      <p class="username">{{t.attributes.titulo}}</p>
    </div>
  </div>

  <button class="arrow right" (click)="scrollRight()">&gt;</button>
</div>
<!--
<section id="subscribe" class="container-grid padding-large position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium">
        <div class="col-md-6 col-sm-12">
          <div class="display-header pe-3">
            <h2 class="display-7 text-uppercase text-light">Suscribase Ahora</h2>
            <p>Obtenga las ultimas noticias acerca de nuestros productos.</p>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <form class="subscription-form validate">
            <div class="input-group flex-wrap">
              <input class="form-control btn-rounded-none" type="email" name="EMAIL" placeholder="Your email address here" required="">
              <button class="btn btn-medium btn-primary text-uppercase btn-rounded-none" type="submit" name="subscribe">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
-->

<app-footer></app-footer>