<app-header></app-header>
<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading">
    <div *ngIf="Page.contenido!=''" [innerHTML]="ReturnHtml()"></div>
</div>
<div class="container mt-5 pb-3 px-3" *ngIf="HaveImages() && !loading">
    <ngb-carousel [interval]="4000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
        <ng-template ngbSlide *ngFor="let raiz of Page.imagen.data">
            <div class="picsum-img-wrapper">
                <img style="background-repeat: no-repeat !important;
                background-position: top center !important;
                background-size: cover !important" [src]="Host+raiz.attributes.url" alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h3>{{raiz.attributes.caption}}</h3>
                <p>{{raiz.attributes.alternativeText}}</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<div *ngIf="HaveVideos() && !loading" style="align-items: center;">
    <div *ngFor="let raiz of Page.imagen.data">
        <div *ngIf="(raiz.attributes.ext=='.mp4')">
            <video style="width: 100%;" controls autoplay="true" id="videoPlayer">
                <source [src]="Host+raiz.attributes.url" [type]="raiz.attributes.mime" controls autoplay />
            </video>
        </div>
    </div>
</div>
<app-footer ></app-footer>